<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
</head>

<body>
    <div id="app">
        <ul>
            <li>標題：{{detail[6].name}}</li>
            <li>專案描述：{{detail[6].description}}</li>
            <li>專案網址：{{detail[6].html_url}}</li>
        </ul>
        <div style="height:1300px">
            <div class="article">
                <div class="section"></div>
            </div>
        </div>
    </div>
    
    <script>
        let data = {
            detail: [
                {
                    id: 186078218,
                    node_id: "MDEwOlJlcG9zaXRvcnkxODYwNzgyMTg=",
                    name: "ab100777",
                    full_name: "ab100777/ab100777",
                    private: false,
                    owner: {
                        login: "ab100777",
                        id: 42470167,
                        node_id: "MDQ6VXNlcjQyNDcwMTY3",
                        avatar_url: "https://avatars0.githubusercontent.com/u/42470167?v=4",
                        gravatar_id: "",
                        url: "https://api.github.com/users/ab100777",
                        html_url: "https://github.com/ab100777",
                        followers_url: "https://api.github.com/users/ab100777/followers",
                        following_url: "https://api.github.com/users/ab100777/following{/other_user}",
                        gists_url: "https://api.github.com/users/ab100777/gists{/gist_id}",
                        starred_url: "https://api.github.com/users/ab100777/starred{/owner}{/repo}",
                        subscriptions_url: "https://api.github.com/users/ab100777/subscriptions",
                        organizations_url: "https://api.github.com/users/ab100777/orgs",
                        repos_url: "https://api.github.com/users/ab100777/repos",
                        events_url: "https://api.github.com/users/ab100777/events{/privacy}",
                        received_events_url: "https://api.github.com/users/ab100777/received_events",
                        type: "User",
                        site_admin: false
                    },
                    html_url: "https://github.com/ab100777/ab100777",
                    description: null,
                    fork: false,
                    url: "https://api.github.com/repos/ab100777/ab100777",
                    forks_url: "https://api.github.com/repos/ab100777/ab100777/forks",
                    keys_url: "https://api.github.com/repos/ab100777/ab100777/keys{/key_id}",
                    collaborators_url: "https://api.github.com/repos/ab100777/ab100777/collaborators{/collaborator}",
                    teams_url: "https://api.github.com/repos/ab100777/ab100777/teams",
                    hooks_url: "https://api.github.com/repos/ab100777/ab100777/hooks",
                    issue_events_url: "https://api.github.com/repos/ab100777/ab100777/issues/events{/number}",
                    events_url: "https://api.github.com/repos/ab100777/ab100777/events",
                    assignees_url: "https://api.github.com/repos/ab100777/ab100777/assignees{/user}",
                    branches_url: "https://api.github.com/repos/ab100777/ab100777/branches{/branch}",
                    tags_url: "https://api.github.com/repos/ab100777/ab100777/tags",
                    blobs_url: "https://api.github.com/repos/ab100777/ab100777/git/blobs{/sha}",
                    git_tags_url: "https://api.github.com/repos/ab100777/ab100777/git/tags{/sha}",
                    git_refs_url: "https://api.github.com/repos/ab100777/ab100777/git/refs{/sha}",
                    trees_url: "https://api.github.com/repos/ab100777/ab100777/git/trees{/sha}",
                    statuses_url: "https://api.github.com/repos/ab100777/ab100777/statuses/{sha}",
                    languages_url: "https://api.github.com/repos/ab100777/ab100777/languages",
                    stargazers_url: "https://api.github.com/repos/ab100777/ab100777/stargazers",
                    contributors_url: "https://api.github.com/repos/ab100777/ab100777/contributors",
                    subscribers_url: "https://api.github.com/repos/ab100777/ab100777/subscribers",
                    subscription_url: "https://api.github.com/repos/ab100777/ab100777/subscription",
                    commits_url: "https://api.github.com/repos/ab100777/ab100777/commits{/sha}",
                    git_commits_url: "https://api.github.com/repos/ab100777/ab100777/git/commits{/sha}",
                    comments_url: "https://api.github.com/repos/ab100777/ab100777/comments{/number}",
                    issue_comment_url: "https://api.github.com/repos/ab100777/ab100777/issues/comments{/number}",
                    contents_url: "https://api.github.com/repos/ab100777/ab100777/contents/{+path}",
                    compare_url: "https://api.github.com/repos/ab100777/ab100777/compare/{base}...{head}",
                    merges_url: "https://api.github.com/repos/ab100777/ab100777/merges",
                    archive_url: "https://api.github.com/repos/ab100777/ab100777/{archive_format}{/ref}",
                    downloads_url: "https://api.github.com/repos/ab100777/ab100777/downloads",
                    issues_url: "https://api.github.com/repos/ab100777/ab100777/issues{/number}",
                    pulls_url: "https://api.github.com/repos/ab100777/ab100777/pulls{/number}",
                    milestones_url: "https://api.github.com/repos/ab100777/ab100777/milestones{/number}",
                    notifications_url: "https://api.github.com/repos/ab100777/ab100777/notifications{?since,all,participating}",
                    labels_url: "https://api.github.com/repos/ab100777/ab100777/labels{/name}",
                    releases_url: "https://api.github.com/repos/ab100777/ab100777/releases{/id}",
                    deployments_url: "https://api.github.com/repos/ab100777/ab100777/deployments",
                    created_at: "2019-05-11T02:26:09Z",
                    updated_at: "2019-05-14T02:06:39Z",
                    pushed_at: "2019-05-14T02:06:38Z",
                    git_url: "git://github.com/ab100777/ab100777.git",
                    ssh_url: "git@github.com:ab100777/ab100777.git",
                    clone_url: "https://github.com/ab100777/ab100777.git",
                    svn_url: "https://github.com/ab100777/ab100777",
                    homepage: null,
                    size: 25033,
                    stargazers_count: 0,
                    watchers_count: 0,
                    language: "CSS",
                    has_issues: true,
                    has_projects: true,
                    has_downloads: true,
                    has_wiki: true,
                    has_pages: true,
                    forks_count: 1,
                    mirror_url: null,
                    archived: false,
                    disabled: false,
                    open_issues_count: 0,
                    license: null,
                    forks: 1,
                    open_issues: 0,
                    watchers: 0,
                    default_branch: "master",
                    permissions: {
                        admin: true,
                        push: true,
                        pull: true
                    }
                },
                {
                    id: 186129274,
                    node_id: "MDEwOlJlcG9zaXRvcnkxODYxMjkyNzQ=",
                    name: "BS4",
                    full_name: "ab100777/BS4",
                    private: false,
                    owner: {
                        login: "ab100777",
                        id: 42470167,
                        node_id: "MDQ6VXNlcjQyNDcwMTY3",
                        avatar_url: "https://avatars0.githubusercontent.com/u/42470167?v=4",
                        gravatar_id: "",
                        url: "https://api.github.com/users/ab100777",
                        html_url: "https://github.com/ab100777",
                        followers_url: "https://api.github.com/users/ab100777/followers",
                        following_url: "https://api.github.com/users/ab100777/following{/other_user}",
                        gists_url: "https://api.github.com/users/ab100777/gists{/gist_id}",
                        starred_url: "https://api.github.com/users/ab100777/starred{/owner}{/repo}",
                        subscriptions_url: "https://api.github.com/users/ab100777/subscriptions",
                        organizations_url: "https://api.github.com/users/ab100777/orgs",
                        repos_url: "https://api.github.com/users/ab100777/repos",
                        events_url: "https://api.github.com/users/ab100777/events{/privacy}",
                        received_events_url: "https://api.github.com/users/ab100777/received_events",
                        type: "User",
                        site_admin: false
                    },
                    html_url: "https://github.com/ab100777/BS4",
                    description: null,
                    fork: false,
                    url: "https://api.github.com/repos/ab100777/BS4",
                    forks_url: "https://api.github.com/repos/ab100777/BS4/forks",
                    keys_url: "https://api.github.com/repos/ab100777/BS4/keys{/key_id}",
                    collaborators_url: "https://api.github.com/repos/ab100777/BS4/collaborators{/collaborator}",
                    teams_url: "https://api.github.com/repos/ab100777/BS4/teams",
                    hooks_url: "https://api.github.com/repos/ab100777/BS4/hooks",
                    issue_events_url: "https://api.github.com/repos/ab100777/BS4/issues/events{/number}",
                    events_url: "https://api.github.com/repos/ab100777/BS4/events",
                    assignees_url: "https://api.github.com/repos/ab100777/BS4/assignees{/user}",
                    branches_url: "https://api.github.com/repos/ab100777/BS4/branches{/branch}",
                    tags_url: "https://api.github.com/repos/ab100777/BS4/tags",
                    blobs_url: "https://api.github.com/repos/ab100777/BS4/git/blobs{/sha}",
                    git_tags_url: "https://api.github.com/repos/ab100777/BS4/git/tags{/sha}",
                    git_refs_url: "https://api.github.com/repos/ab100777/BS4/git/refs{/sha}",
                    trees_url: "https://api.github.com/repos/ab100777/BS4/git/trees{/sha}",
                    statuses_url: "https://api.github.com/repos/ab100777/BS4/statuses/{sha}",
                    languages_url: "https://api.github.com/repos/ab100777/BS4/languages",
                    stargazers_url: "https://api.github.com/repos/ab100777/BS4/stargazers",
                    contributors_url: "https://api.github.com/repos/ab100777/BS4/contributors",
                    subscribers_url: "https://api.github.com/repos/ab100777/BS4/subscribers",
                    subscription_url: "https://api.github.com/repos/ab100777/BS4/subscription",
                    commits_url: "https://api.github.com/repos/ab100777/BS4/commits{/sha}",
                    git_commits_url: "https://api.github.com/repos/ab100777/BS4/git/commits{/sha}",
                    comments_url: "https://api.github.com/repos/ab100777/BS4/comments{/number}",
                    issue_comment_url: "https://api.github.com/repos/ab100777/BS4/issues/comments{/number}",
                    contents_url: "https://api.github.com/repos/ab100777/BS4/contents/{+path}",
                    compare_url: "https://api.github.com/repos/ab100777/BS4/compare/{base}...{head}",
                    merges_url: "https://api.github.com/repos/ab100777/BS4/merges",
                    archive_url: "https://api.github.com/repos/ab100777/BS4/{archive_format}{/ref}",
                    downloads_url: "https://api.github.com/repos/ab100777/BS4/downloads",
                    issues_url: "https://api.github.com/repos/ab100777/BS4/issues{/number}",
                    pulls_url: "https://api.github.com/repos/ab100777/BS4/pulls{/number}",
                    milestones_url: "https://api.github.com/repos/ab100777/BS4/milestones{/number}",
                    notifications_url: "https://api.github.com/repos/ab100777/BS4/notifications{?since,all,participating}",
                    labels_url: "https://api.github.com/repos/ab100777/BS4/labels{/name}",
                    releases_url: "https://api.github.com/repos/ab100777/BS4/releases{/id}",
                    deployments_url: "https://api.github.com/repos/ab100777/BS4/deployments",
                    created_at: "2019-05-11T12:19:02Z",
                    updated_at: "2019-05-11T12:25:06Z",
                    pushed_at: "2019-05-11T12:25:05Z",
                    git_url: "git://github.com/ab100777/BS4.git",
                    ssh_url: "git@github.com:ab100777/BS4.git",
                    clone_url: "https://github.com/ab100777/BS4.git",
                    svn_url: "https://github.com/ab100777/BS4",
                    homepage: null,
                    size: 22373,
                    stargazers_count: 0,
                    watchers_count: 0,
                    language: "CSS",
                    has_issues: true,
                    has_projects: true,
                    has_downloads: true,
                    has_wiki: true,
                    has_pages: true,
                    forks_count: 0,
                    mirror_url: null,
                    archived: false,
                    disabled: false,
                    open_issues_count: 0,
                    license: null,
                    forks: 0,
                    open_issues: 0,
                    watchers: 0,
                    default_branch: "master",
                    permissions: {
                        admin: true,
                        push: true,
                        pull: true
                    }
                },
                {
                    id: 205869574,
                    node_id: "MDEwOlJlcG9zaXRvcnkyMDU4Njk1NzQ=",
                    name: "gittest",
                    full_name: "ab100777/gittest",
                    private: false,
                    owner: {
                        login: "ab100777",
                        id: 42470167,
                        node_id: "MDQ6VXNlcjQyNDcwMTY3",
                        avatar_url: "https://avatars0.githubusercontent.com/u/42470167?v=4",
                        gravatar_id: "",
                        url: "https://api.github.com/users/ab100777",
                        html_url: "https://github.com/ab100777",
                        followers_url: "https://api.github.com/users/ab100777/followers",
                        following_url: "https://api.github.com/users/ab100777/following{/other_user}",
                        gists_url: "https://api.github.com/users/ab100777/gists{/gist_id}",
                        starred_url: "https://api.github.com/users/ab100777/starred{/owner}{/repo}",
                        subscriptions_url: "https://api.github.com/users/ab100777/subscriptions",
                        organizations_url: "https://api.github.com/users/ab100777/orgs",
                        repos_url: "https://api.github.com/users/ab100777/repos",
                        events_url: "https://api.github.com/users/ab100777/events{/privacy}",
                        received_events_url: "https://api.github.com/users/ab100777/received_events",
                        type: "User",
                        site_admin: false
                    },
                    html_url: "https://github.com/ab100777/gittest",
                    description: null,
                    fork: false,
                    url: "https://api.github.com/repos/ab100777/gittest",
                    forks_url: "https://api.github.com/repos/ab100777/gittest/forks",
                    keys_url: "https://api.github.com/repos/ab100777/gittest/keys{/key_id}",
                    collaborators_url: "https://api.github.com/repos/ab100777/gittest/collaborators{/collaborator}",
                    teams_url: "https://api.github.com/repos/ab100777/gittest/teams",
                    hooks_url: "https://api.github.com/repos/ab100777/gittest/hooks",
                    issue_events_url: "https://api.github.com/repos/ab100777/gittest/issues/events{/number}",
                    events_url: "https://api.github.com/repos/ab100777/gittest/events",
                    assignees_url: "https://api.github.com/repos/ab100777/gittest/assignees{/user}",
                    branches_url: "https://api.github.com/repos/ab100777/gittest/branches{/branch}",
                    tags_url: "https://api.github.com/repos/ab100777/gittest/tags",
                    blobs_url: "https://api.github.com/repos/ab100777/gittest/git/blobs{/sha}",
                    git_tags_url: "https://api.github.com/repos/ab100777/gittest/git/tags{/sha}",
                    git_refs_url: "https://api.github.com/repos/ab100777/gittest/git/refs{/sha}",
                    trees_url: "https://api.github.com/repos/ab100777/gittest/git/trees{/sha}",
                    statuses_url: "https://api.github.com/repos/ab100777/gittest/statuses/{sha}",
                    languages_url: "https://api.github.com/repos/ab100777/gittest/languages",
                    stargazers_url: "https://api.github.com/repos/ab100777/gittest/stargazers",
                    contributors_url: "https://api.github.com/repos/ab100777/gittest/contributors",
                    subscribers_url: "https://api.github.com/repos/ab100777/gittest/subscribers",
                    subscription_url: "https://api.github.com/repos/ab100777/gittest/subscription",
                    commits_url: "https://api.github.com/repos/ab100777/gittest/commits{/sha}",
                    git_commits_url: "https://api.github.com/repos/ab100777/gittest/git/commits{/sha}",
                    comments_url: "https://api.github.com/repos/ab100777/gittest/comments{/number}",
                    issue_comment_url: "https://api.github.com/repos/ab100777/gittest/issues/comments{/number}",
                    contents_url: "https://api.github.com/repos/ab100777/gittest/contents/{+path}",
                    compare_url: "https://api.github.com/repos/ab100777/gittest/compare/{base}...{head}",
                    merges_url: "https://api.github.com/repos/ab100777/gittest/merges",
                    archive_url: "https://api.github.com/repos/ab100777/gittest/{archive_format}{/ref}",
                    downloads_url: "https://api.github.com/repos/ab100777/gittest/downloads",
                    issues_url: "https://api.github.com/repos/ab100777/gittest/issues{/number}",
                    pulls_url: "https://api.github.com/repos/ab100777/gittest/pulls{/number}",
                    milestones_url: "https://api.github.com/repos/ab100777/gittest/milestones{/number}",
                    notifications_url: "https://api.github.com/repos/ab100777/gittest/notifications{?since,all,participating}",
                    labels_url: "https://api.github.com/repos/ab100777/gittest/labels{/name}",
                    releases_url: "https://api.github.com/repos/ab100777/gittest/releases{/id}",
                    deployments_url: "https://api.github.com/repos/ab100777/gittest/deployments",
                    created_at: "2019-09-02T14:02:22Z",
                    updated_at: "2019-09-02T14:02:51Z",
                    pushed_at: "2019-09-02T14:05:10Z",
                    git_url: "git://github.com/ab100777/gittest.git",
                    ssh_url: "git@github.com:ab100777/gittest.git",
                    clone_url: "https://github.com/ab100777/gittest.git",
                    svn_url: "https://github.com/ab100777/gittest",
                    homepage: null,
                    size: 1782,
                    stargazers_count: 0,
                    watchers_count: 0,
                    language: null,
                    has_issues: true,
                    has_projects: true,
                    has_downloads: true,
                    has_wiki: true,
                    has_pages: true,
                    forks_count: 0,
                    mirror_url: null,
                    archived: false,
                    disabled: false,
                    open_issues_count: 0,
                    license: null,
                    forks: 0,
                    open_issues: 0,
                    watchers: 0,
                    default_branch: "master",
                    permissions: {
                        admin: true,
                        push: true,
                        pull: true
                    }
                },
                {
                    id: 205308775,
                    node_id: "MDEwOlJlcG9zaXRvcnkyMDUzMDg3NzU=",
                    name: "Resume",
                    full_name: "ab100777/Resume",
                    private: false,
                    owner: {
                        login: "ab100777",
                        id: 42470167,
                        node_id: "MDQ6VXNlcjQyNDcwMTY3",
                        avatar_url: "https://avatars0.githubusercontent.com/u/42470167?v=4",
                        gravatar_id: "",
                        url: "https://api.github.com/users/ab100777",
                        html_url: "https://github.com/ab100777",
                        followers_url: "https://api.github.com/users/ab100777/followers",
                        following_url: "https://api.github.com/users/ab100777/following{/other_user}",
                        gists_url: "https://api.github.com/users/ab100777/gists{/gist_id}",
                        starred_url: "https://api.github.com/users/ab100777/starred{/owner}{/repo}",
                        subscriptions_url: "https://api.github.com/users/ab100777/subscriptions",
                        organizations_url: "https://api.github.com/users/ab100777/orgs",
                        repos_url: "https://api.github.com/users/ab100777/repos",
                        events_url: "https://api.github.com/users/ab100777/events{/privacy}",
                        received_events_url: "https://api.github.com/users/ab100777/received_events",
                        type: "User",
                        site_admin: false
                    },
                    html_url: "https://github.com/ab100777/Resume",
                    description: null,
                    fork: true,
                    url: "https://api.github.com/repos/ab100777/Resume",
                    forks_url: "https://api.github.com/repos/ab100777/Resume/forks",
                    keys_url: "https://api.github.com/repos/ab100777/Resume/keys{/key_id}",
                    collaborators_url: "https://api.github.com/repos/ab100777/Resume/collaborators{/collaborator}",
                    teams_url: "https://api.github.com/repos/ab100777/Resume/teams",
                    hooks_url: "https://api.github.com/repos/ab100777/Resume/hooks",
                    issue_events_url: "https://api.github.com/repos/ab100777/Resume/issues/events{/number}",
                    events_url: "https://api.github.com/repos/ab100777/Resume/events",
                    assignees_url: "https://api.github.com/repos/ab100777/Resume/assignees{/user}",
                    branches_url: "https://api.github.com/repos/ab100777/Resume/branches{/branch}",
                    tags_url: "https://api.github.com/repos/ab100777/Resume/tags",
                    blobs_url: "https://api.github.com/repos/ab100777/Resume/git/blobs{/sha}",
                    git_tags_url: "https://api.github.com/repos/ab100777/Resume/git/tags{/sha}",
                    git_refs_url: "https://api.github.com/repos/ab100777/Resume/git/refs{/sha}",
                    trees_url: "https://api.github.com/repos/ab100777/Resume/git/trees{/sha}",
                    statuses_url: "https://api.github.com/repos/ab100777/Resume/statuses/{sha}",
                    languages_url: "https://api.github.com/repos/ab100777/Resume/languages",
                    stargazers_url: "https://api.github.com/repos/ab100777/Resume/stargazers",
                    contributors_url: "https://api.github.com/repos/ab100777/Resume/contributors",
                    subscribers_url: "https://api.github.com/repos/ab100777/Resume/subscribers",
                    subscription_url: "https://api.github.com/repos/ab100777/Resume/subscription",
                    commits_url: "https://api.github.com/repos/ab100777/Resume/commits{/sha}",
                    git_commits_url: "https://api.github.com/repos/ab100777/Resume/git/commits{/sha}",
                    comments_url: "https://api.github.com/repos/ab100777/Resume/comments{/number}",
                    issue_comment_url: "https://api.github.com/repos/ab100777/Resume/issues/comments{/number}",
                    contents_url: "https://api.github.com/repos/ab100777/Resume/contents/{+path}",
                    compare_url: "https://api.github.com/repos/ab100777/Resume/compare/{base}...{head}",
                    merges_url: "https://api.github.com/repos/ab100777/Resume/merges",
                    archive_url: "https://api.github.com/repos/ab100777/Resume/{archive_format}{/ref}",
                    downloads_url: "https://api.github.com/repos/ab100777/Resume/downloads",
                    issues_url: "https://api.github.com/repos/ab100777/Resume/issues{/number}",
                    pulls_url: "https://api.github.com/repos/ab100777/Resume/pulls{/number}",
                    milestones_url: "https://api.github.com/repos/ab100777/Resume/milestones{/number}",
                    notifications_url: "https://api.github.com/repos/ab100777/Resume/notifications{?since,all,participating}",
                    labels_url: "https://api.github.com/repos/ab100777/Resume/labels{/name}",
                    releases_url: "https://api.github.com/repos/ab100777/Resume/releases{/id}",
                    deployments_url: "https://api.github.com/repos/ab100777/Resume/deployments",
                    created_at: "2019-08-30T05:10:43Z",
                    updated_at: "2019-08-30T05:10:45Z",
                    pushed_at: "2019-08-28T05:50:05Z",
                    git_url: "git://github.com/ab100777/Resume.git",
                    ssh_url: "git@github.com:ab100777/Resume.git",
                    clone_url: "https://github.com/ab100777/Resume.git",
                    svn_url: "https://github.com/ab100777/Resume",
                    homepage: null,
                    size: 85,
                    stargazers_count: 0,
                    watchers_count: 0,
                    language: null,
                    has_issues: false,
                    has_projects: true,
                    has_downloads: true,
                    has_wiki: true,
                    has_pages: false,
                    forks_count: 0,
                    mirror_url: null,
                    archived: false,
                    disabled: false,
                    open_issues_count: 0,
                    license: null,
                    forks: 0,
                    open_issues: 0,
                    watchers: 0,
                    default_branch: "master",
                    permissions: {
                        admin: true,
                        push: true,
                        pull: true
                    }
                },
                {
                    id: 196358311,
                    node_id: "MDEwOlJlcG9zaXRvcnkxOTYzNTgzMTE=",
                    name: "vue3.0",
                    full_name: "ab100777/vue3.0",
                    private: false,
                    owner: {
                        login: "ab100777",
                        id: 42470167,
                        node_id: "MDQ6VXNlcjQyNDcwMTY3",
                        avatar_url: "https://avatars0.githubusercontent.com/u/42470167?v=4",
                        gravatar_id: "",
                        url: "https://api.github.com/users/ab100777",
                        html_url: "https://github.com/ab100777",
                        followers_url: "https://api.github.com/users/ab100777/followers",
                        following_url: "https://api.github.com/users/ab100777/following{/other_user}",
                        gists_url: "https://api.github.com/users/ab100777/gists{/gist_id}",
                        starred_url: "https://api.github.com/users/ab100777/starred{/owner}{/repo}",
                        subscriptions_url: "https://api.github.com/users/ab100777/subscriptions",
                        organizations_url: "https://api.github.com/users/ab100777/orgs",
                        repos_url: "https://api.github.com/users/ab100777/repos",
                        events_url: "https://api.github.com/users/ab100777/events{/privacy}",
                        received_events_url: "https://api.github.com/users/ab100777/received_events",
                        type: "User",
                        site_admin: false
                    },
                    html_url: "https://github.com/ab100777/vue3.0",
                    description: null,
                    fork: false,
                    url: "https://api.github.com/repos/ab100777/vue3.0",
                    forks_url: "https://api.github.com/repos/ab100777/vue3.0/forks",
                    keys_url: "https://api.github.com/repos/ab100777/vue3.0/keys{/key_id}",
                    collaborators_url: "https://api.github.com/repos/ab100777/vue3.0/collaborators{/collaborator}",
                    teams_url: "https://api.github.com/repos/ab100777/vue3.0/teams",
                    hooks_url: "https://api.github.com/repos/ab100777/vue3.0/hooks",
                    issue_events_url: "https://api.github.com/repos/ab100777/vue3.0/issues/events{/number}",
                    events_url: "https://api.github.com/repos/ab100777/vue3.0/events",
                    assignees_url: "https://api.github.com/repos/ab100777/vue3.0/assignees{/user}",
                    branches_url: "https://api.github.com/repos/ab100777/vue3.0/branches{/branch}",
                    tags_url: "https://api.github.com/repos/ab100777/vue3.0/tags",
                    blobs_url: "https://api.github.com/repos/ab100777/vue3.0/git/blobs{/sha}",
                    git_tags_url: "https://api.github.com/repos/ab100777/vue3.0/git/tags{/sha}",
                    git_refs_url: "https://api.github.com/repos/ab100777/vue3.0/git/refs{/sha}",
                    trees_url: "https://api.github.com/repos/ab100777/vue3.0/git/trees{/sha}",
                    statuses_url: "https://api.github.com/repos/ab100777/vue3.0/statuses/{sha}",
                    languages_url: "https://api.github.com/repos/ab100777/vue3.0/languages",
                    stargazers_url: "https://api.github.com/repos/ab100777/vue3.0/stargazers",
                    contributors_url: "https://api.github.com/repos/ab100777/vue3.0/contributors",
                    subscribers_url: "https://api.github.com/repos/ab100777/vue3.0/subscribers",
                    subscription_url: "https://api.github.com/repos/ab100777/vue3.0/subscription",
                    commits_url: "https://api.github.com/repos/ab100777/vue3.0/commits{/sha}",
                    git_commits_url: "https://api.github.com/repos/ab100777/vue3.0/git/commits{/sha}",
                    comments_url: "https://api.github.com/repos/ab100777/vue3.0/comments{/number}",
                    issue_comment_url: "https://api.github.com/repos/ab100777/vue3.0/issues/comments{/number}",
                    contents_url: "https://api.github.com/repos/ab100777/vue3.0/contents/{+path}",
                    compare_url: "https://api.github.com/repos/ab100777/vue3.0/compare/{base}...{head}",
                    merges_url: "https://api.github.com/repos/ab100777/vue3.0/merges",
                    archive_url: "https://api.github.com/repos/ab100777/vue3.0/{archive_format}{/ref}",
                    downloads_url: "https://api.github.com/repos/ab100777/vue3.0/downloads",
                    issues_url: "https://api.github.com/repos/ab100777/vue3.0/issues{/number}",
                    pulls_url: "https://api.github.com/repos/ab100777/vue3.0/pulls{/number}",
                    milestones_url: "https://api.github.com/repos/ab100777/vue3.0/milestones{/number}",
                    notifications_url: "https://api.github.com/repos/ab100777/vue3.0/notifications{?since,all,participating}",
                    labels_url: "https://api.github.com/repos/ab100777/vue3.0/labels{/name}",
                    releases_url: "https://api.github.com/repos/ab100777/vue3.0/releases{/id}",
                    deployments_url: "https://api.github.com/repos/ab100777/vue3.0/deployments",
                    created_at: "2019-07-11T09:00:52Z",
                    updated_at: "2019-07-11T09:02:36Z",
                    pushed_at: "2019-07-11T09:02:35Z",
                    git_url: "git://github.com/ab100777/vue3.0.git",
                    ssh_url: "git@github.com:ab100777/vue3.0.git",
                    clone_url: "https://github.com/ab100777/vue3.0.git",
                    svn_url: "https://github.com/ab100777/vue3.0",
                    homepage: null,
                    size: 312,
                    stargazers_count: 0,
                    watchers_count: 0,
                    language: "Vue",
                    has_issues: true,
                    has_projects: true,
                    has_downloads: true,
                    has_wiki: true,
                    has_pages: true,
                    forks_count: 0,
                    mirror_url: null,
                    archived: false,
                    disabled: false,
                    open_issues_count: 0,
                    license: null,
                    forks: 0,
                    open_issues: 0,
                    watchers: 0,
                    default_branch: "master",
                    permissions: {
                        admin: true,
                        push: true,
                        pull: true
                    }
                },
                {
                    id: 189802457,
                    node_id: "MDEwOlJlcG9zaXRvcnkxODk4MDI0NTc=",
                    name: "vuecli",
                    full_name: "ab100777/vuecli",
                    private: false,
                    owner: {
                        login: "ab100777",
                        id: 42470167,
                        node_id: "MDQ6VXNlcjQyNDcwMTY3",
                        avatar_url: "https://avatars0.githubusercontent.com/u/42470167?v=4",
                        gravatar_id: "",
                        url: "https://api.github.com/users/ab100777",
                        html_url: "https://github.com/ab100777",
                        followers_url: "https://api.github.com/users/ab100777/followers",
                        following_url: "https://api.github.com/users/ab100777/following{/other_user}",
                        gists_url: "https://api.github.com/users/ab100777/gists{/gist_id}",
                        starred_url: "https://api.github.com/users/ab100777/starred{/owner}{/repo}",
                        subscriptions_url: "https://api.github.com/users/ab100777/subscriptions",
                        organizations_url: "https://api.github.com/users/ab100777/orgs",
                        repos_url: "https://api.github.com/users/ab100777/repos",
                        events_url: "https://api.github.com/users/ab100777/events{/privacy}",
                        received_events_url: "https://api.github.com/users/ab100777/received_events",
                        type: "User",
                        site_admin: false
                    },
                    html_url: "https://github.com/ab100777/vuecli",
                    description: null,
                    fork: false,
                    url: "https://api.github.com/repos/ab100777/vuecli",
                    forks_url: "https://api.github.com/repos/ab100777/vuecli/forks",
                    keys_url: "https://api.github.com/repos/ab100777/vuecli/keys{/key_id}",
                    collaborators_url: "https://api.github.com/repos/ab100777/vuecli/collaborators{/collaborator}",
                    teams_url: "https://api.github.com/repos/ab100777/vuecli/teams",
                    hooks_url: "https://api.github.com/repos/ab100777/vuecli/hooks",
                    issue_events_url: "https://api.github.com/repos/ab100777/vuecli/issues/events{/number}",
                    events_url: "https://api.github.com/repos/ab100777/vuecli/events",
                    assignees_url: "https://api.github.com/repos/ab100777/vuecli/assignees{/user}",
                    branches_url: "https://api.github.com/repos/ab100777/vuecli/branches{/branch}",
                    tags_url: "https://api.github.com/repos/ab100777/vuecli/tags",
                    blobs_url: "https://api.github.com/repos/ab100777/vuecli/git/blobs{/sha}",
                    git_tags_url: "https://api.github.com/repos/ab100777/vuecli/git/tags{/sha}",
                    git_refs_url: "https://api.github.com/repos/ab100777/vuecli/git/refs{/sha}",
                    trees_url: "https://api.github.com/repos/ab100777/vuecli/git/trees{/sha}",
                    statuses_url: "https://api.github.com/repos/ab100777/vuecli/statuses/{sha}",
                    languages_url: "https://api.github.com/repos/ab100777/vuecli/languages",
                    stargazers_url: "https://api.github.com/repos/ab100777/vuecli/stargazers",
                    contributors_url: "https://api.github.com/repos/ab100777/vuecli/contributors",
                    subscribers_url: "https://api.github.com/repos/ab100777/vuecli/subscribers",
                    subscription_url: "https://api.github.com/repos/ab100777/vuecli/subscription",
                    commits_url: "https://api.github.com/repos/ab100777/vuecli/commits{/sha}",
                    git_commits_url: "https://api.github.com/repos/ab100777/vuecli/git/commits{/sha}",
                    comments_url: "https://api.github.com/repos/ab100777/vuecli/comments{/number}",
                    issue_comment_url: "https://api.github.com/repos/ab100777/vuecli/issues/comments{/number}",
                    contents_url: "https://api.github.com/repos/ab100777/vuecli/contents/{+path}",
                    compare_url: "https://api.github.com/repos/ab100777/vuecli/compare/{base}...{head}",
                    merges_url: "https://api.github.com/repos/ab100777/vuecli/merges",
                    archive_url: "https://api.github.com/repos/ab100777/vuecli/{archive_format}{/ref}",
                    downloads_url: "https://api.github.com/repos/ab100777/vuecli/downloads",
                    issues_url: "https://api.github.com/repos/ab100777/vuecli/issues{/number}",
                    pulls_url: "https://api.github.com/repos/ab100777/vuecli/pulls{/number}",
                    milestones_url: "https://api.github.com/repos/ab100777/vuecli/milestones{/number}",
                    notifications_url: "https://api.github.com/repos/ab100777/vuecli/notifications{?since,all,participating}",
                    labels_url: "https://api.github.com/repos/ab100777/vuecli/labels{/name}",
                    releases_url: "https://api.github.com/repos/ab100777/vuecli/releases{/id}",
                    deployments_url: "https://api.github.com/repos/ab100777/vuecli/deployments",
                    created_at: "2019-06-02T03:57:22Z",
                    updated_at: "2019-09-25T09:20:47Z",
                    pushed_at: "2019-09-25T09:20:46Z",
                    git_url: "git://github.com/ab100777/vuecli.git",
                    ssh_url: "git@github.com:ab100777/vuecli.git",
                    clone_url: "https://github.com/ab100777/vuecli.git",
                    svn_url: "https://github.com/ab100777/vuecli",
                    homepage: null,
                    size: 30260,
                    stargazers_count: 1,
                    watchers_count: 1,
                    language: "Vue",
                    has_issues: true,
                    has_projects: true,
                    has_downloads: true,
                    has_wiki: true,
                    has_pages: true,
                    forks_count: 1,
                    mirror_url: null,
                    archived: false,
                    disabled: false,
                    open_issues_count: 0,
                    license: null,
                    forks: 1,
                    open_issues: 0,
                    watchers: 1,
                    default_branch: "master",
                    permissions: {
                        admin: true,
                        push: true,
                        pull: true
                    }
                },
                {
                    id: 195629721,
                    node_id: "MDEwOlJlcG9zaXRvcnkxOTU2Mjk3MjE=",
                    name: "vuecliweb",
                    full_name: "ab100777/vuecliweb",
                    private: false,
                    owner: {
                        login: "ab100777",
                        id: 42470167,
                        node_id: "MDQ6VXNlcjQyNDcwMTY3",
                        avatar_url: "https://avatars0.githubusercontent.com/u/42470167?v=4",
                        gravatar_id: "",
                        url: "https://api.github.com/users/ab100777",
                        html_url: "https://github.com/ab100777",
                        followers_url: "https://api.github.com/users/ab100777/followers",
                        following_url: "https://api.github.com/users/ab100777/following{/other_user}",
                        gists_url: "https://api.github.com/users/ab100777/gists{/gist_id}",
                        starred_url: "https://api.github.com/users/ab100777/starred{/owner}{/repo}",
                        subscriptions_url: "https://api.github.com/users/ab100777/subscriptions",
                        organizations_url: "https://api.github.com/users/ab100777/orgs",
                        repos_url: "https://api.github.com/users/ab100777/repos",
                        events_url: "https://api.github.com/users/ab100777/events{/privacy}",
                        received_events_url: "https://api.github.com/users/ab100777/received_events",
                        type: "User",
                        site_admin: false
                    },
                    html_url: "https://github.com/ab100777/vuecliweb",
                    description: "利用 Vue.js 來製作的電商作品",
                    fork: false,
                    url: "https://api.github.com/repos/ab100777/vuecliweb",
                    forks_url: "https://api.github.com/repos/ab100777/vuecliweb/forks",
                    keys_url: "https://api.github.com/repos/ab100777/vuecliweb/keys{/key_id}",
                    collaborators_url: "https://api.github.com/repos/ab100777/vuecliweb/collaborators{/collaborator}",
                    teams_url: "https://api.github.com/repos/ab100777/vuecliweb/teams",
                    hooks_url: "https://api.github.com/repos/ab100777/vuecliweb/hooks",
                    issue_events_url: "https://api.github.com/repos/ab100777/vuecliweb/issues/events{/number}",
                    events_url: "https://api.github.com/repos/ab100777/vuecliweb/events",
                    assignees_url: "https://api.github.com/repos/ab100777/vuecliweb/assignees{/user}",
                    branches_url: "https://api.github.com/repos/ab100777/vuecliweb/branches{/branch}",
                    tags_url: "https://api.github.com/repos/ab100777/vuecliweb/tags",
                    blobs_url: "https://api.github.com/repos/ab100777/vuecliweb/git/blobs{/sha}",
                    git_tags_url: "https://api.github.com/repos/ab100777/vuecliweb/git/tags{/sha}",
                    git_refs_url: "https://api.github.com/repos/ab100777/vuecliweb/git/refs{/sha}",
                    trees_url: "https://api.github.com/repos/ab100777/vuecliweb/git/trees{/sha}",
                    statuses_url: "https://api.github.com/repos/ab100777/vuecliweb/statuses/{sha}",
                    languages_url: "https://api.github.com/repos/ab100777/vuecliweb/languages",
                    stargazers_url: "https://api.github.com/repos/ab100777/vuecliweb/stargazers",
                    contributors_url: "https://api.github.com/repos/ab100777/vuecliweb/contributors",
                    subscribers_url: "https://api.github.com/repos/ab100777/vuecliweb/subscribers",
                    subscription_url: "https://api.github.com/repos/ab100777/vuecliweb/subscription",
                    commits_url: "https://api.github.com/repos/ab100777/vuecliweb/commits{/sha}",
                    git_commits_url: "https://api.github.com/repos/ab100777/vuecliweb/git/commits{/sha}",
                    comments_url: "https://api.github.com/repos/ab100777/vuecliweb/comments{/number}",
                    issue_comment_url: "https://api.github.com/repos/ab100777/vuecliweb/issues/comments{/number}",
                    contents_url: "https://api.github.com/repos/ab100777/vuecliweb/contents/{+path}",
                    compare_url: "https://api.github.com/repos/ab100777/vuecliweb/compare/{base}...{head}",
                    merges_url: "https://api.github.com/repos/ab100777/vuecliweb/merges",
                    archive_url: "https://api.github.com/repos/ab100777/vuecliweb/{archive_format}{/ref}",
                    downloads_url: "https://api.github.com/repos/ab100777/vuecliweb/downloads",
                    issues_url: "https://api.github.com/repos/ab100777/vuecliweb/issues{/number}",
                    pulls_url: "https://api.github.com/repos/ab100777/vuecliweb/pulls{/number}",
                    milestones_url: "https://api.github.com/repos/ab100777/vuecliweb/milestones{/number}",
                    notifications_url: "https://api.github.com/repos/ab100777/vuecliweb/notifications{?since,all,participating}",
                    labels_url: "https://api.github.com/repos/ab100777/vuecliweb/labels{/name}",
                    releases_url: "https://api.github.com/repos/ab100777/vuecliweb/releases{/id}",
                    deployments_url: "https://api.github.com/repos/ab100777/vuecliweb/deployments",
                    created_at: "2019-07-07T08:52:34Z",
                    updated_at: "2019-09-26T06:15:27Z",
                    pushed_at: "2019-09-25T10:40:46Z",
                    git_url: "git://github.com/ab100777/vuecliweb.git",
                    ssh_url: "git@github.com:ab100777/vuecliweb.git",
                    clone_url: "https://github.com/ab100777/vuecliweb.git",
                    svn_url: "https://github.com/ab100777/vuecliweb",
                    homepage: "https://ab100777.github.io/vuecliweb/#/",
                    size: 18102,
                    stargazers_count: 0,
                    watchers_count: 0,
                    language: "Vue",
                    has_issues: true,
                    has_projects: true,
                    has_downloads: true,
                    has_wiki: true,
                    has_pages: true,
                    forks_count: 0,
                    mirror_url: null,
                    archived: false,
                    disabled: false,
                    open_issues_count: 0,
                    license: null,
                    forks: 0,
                    open_issues: 0,
                    watchers: 0,
                    default_branch: "master",
                    permissions: {
                        admin: true,
                        push: true,
                        pull: true
                    }
                }
            ]
        };
        let vm = new Vue({
            el: "#app",
            data: data
        });
    </script>
</body>

</html>